include body.pug

footer.footer.is-hidden
	.container
		p JT '20, BY '20, TK '20, SK '20.
	script(src="https://cdn.jsdelivr.net/combine/npm/jquery@3,npm/lodash@4,npm/html5shiv@3,npm/html5shiv@3/dist/html5shiv-printshiv.min.js,npm/socket.io-client@2/dist/socket.io.min.js,npm/jquery-ui-dist@1.12.1/jquery-ui.min.js,npm/overhang@1.0.5/dist/overhang.min.js")
	script(src="https://apis.google.com/js/platform.js" async defer)
	script(src="https://unpkg.com/popper.js@1")
	script(src="https://unpkg.com/tippy.js@4")
	script(src="js/all.js")
