// Override Bulma vars here. Use https://bulma.io/documentation/overview/colors/, not Bulma vars.
// $primary: hsl(217, 71%, 53%);
$primary: #004B86;
@import "./node_modules/bulma/bulma.sass";
// @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
	font-family: "proxima_novaregular", Arial;
}

.is-1 {
	font-family: "proxima_novabold", Arial;
}

.schedMod {
	font-size: 0.8rem;
	cursor: default;
}

.tippy-tooltip.punahou-theme {
  background-color: $primary;
  color: white;
}

.tippy-tooltip.punahou-theme[data-animatefill] {
  background-color: transparent;
}

.tippy-tooltip.punahou-theme .tippy-backdrop {
  background-color: $primary;
}
