doctype html
html(lang="en")
	include includes/head.pug
	body
		article.article
			include includes/body.pug
			#nav(style="background-color: #004B86; height: 85px;")
				section.section.is-paddingless
					.container.has-text-centered
						h1.title.is-1(style="padding-top: 1rem; color: white;") 
							span(style="color: white; background-color: #004B86") Sched
							span(style="color: #004B86; background-color: white") Match
			section#loginSection.hero.is-medium
				.hero-body
					.container: .has-text-centered
						#loginTopSection
							span#pageLoaded.icon: i.fas.fa-spinner.fa-pulse
							p#startMessage.startLoginField.is-invisible Enter your Punapps username here:
							p#failMessage.is-invisible Failed Login. Please try again.
							input.input#punahouUsername.startLoginField.is-invisible(type="username", style="width: 40%", placeholder="i.e. jdoe19")
							br
							br
							input.input#punahouPassword.is-invisible(type="password", style="width: 40%", placeholder="Punapps Password")
							br
							br
							button.button#punahouCreateAccount.is-invisible Login via Punapps
							br
							br
							span#usernameCheckLoading.icon.is-invisible: i.fas.fa-spinner.fa-pulse
						#loginBottomSection
							p#welcomeBackMsg.is-invisible Welcome back.
							br
							.g-signin2.is-invisible(data-onsuccess="onSignIn", style="display: inline-block")
			.columns
				.column.is-one-quarter
					section.section(style="padding: 3rem 0rem 3rem 1.5rem;")
						#sideBarContainer.initiallyHidden.is-hidden(style="max-height: 44rem; overflow-y: scroll;")
							#followRequestsDiv
								table.table.is-hoverable(style="width: 100%")
									thead
										tr
											th
												span Requests&nbsp;&nbsp;
												a(onclick="window.location.reload()"): span.icon: i.fas.fa-sync-alt
											th
											td: em: span#followRequestsCount
									tbody#followRequestTableBody
										tr#followRequestTableRowTemplate.is-hidden.followRequestTableRow
											th.followRequestDynamic bob
											td: a.followRequestDynamic.followRequestDynamicBtn.acceptFollowRequestDynamic: span.icon: i.far.fa-check
											td: a.followRequestDynamic.followRequestDynamicBtn.rejectFollowRequestDynamic: span.icon: i.far.fa-times
								hr
								br
							#friendsList
								table.table.is-hoverable(style="width: 100%")
									thead
										tr
											th Show
											th Friend
											th
											th
									tbody#friendsListTableBody
										tr#friendsListTableRowTemplate.is-hidden
											th: input(type="checkbox", checked).friendsListDynamic.friendsListChangeDisplay
											td.friendsListFriendName.friendsListDynamic
											td: a.friendsListDynamic.friendsListDynamicBtn.soloFriendDynamic.is-invisible: span.icon: i.far.fa-star.soloFriendButton
											td: a.friendsListDynamic.friendsListDynamicBtn.removeFriendDynamic.is-invisible: span.icon: i.far.fa-times
								hr
								br
							#followRequestSection
								input.input#addUserInput(placeholder="i.e. jdoe19")
								button.button#addUserButton Send Request
								hr
								br
							#logoutButton
								button#logout.button Logout
				.column.initiallyHidden.is-hidden
					section.section
						//- .container.has-text-right.content
						//- 	a(onclick="window.location.reload()"): span.icon: i.fas.fa-sync-alt
						.container.has-text-justified.content
							table.table#scheduleTable
								thead
									tr
										th Time
										th(style="text-align: center;") A
										th(style="text-align: center;") B
										th(style="text-align: center;") C
										th(style="text-align: center;") D
										th(style="text-align: center;") E
										th(style="text-align: center;") F
								tbody
									- var i=1
									- var modTimeConversion = {1: "7:30", 2: "7:45", 3: "8:00", 4: "8:15", 5: "8:30", 6: "8:45", 7: "9:00", 8: "9:15", 9: "9:30", 10: "9:45", 11: "10:00", 12: "10:15", 13: "10:30", 14: "10:45", 15: "11:00", 16: "11:15", 17: "11:30", 18: "11:45", 19: "12:00", 20: "12:15", 21: "12:30", 22: "12:45", 23: "1:00", 24: "1:15", 25: "1:30", 26: "1:45", 27: "2:00", 28: "2:15", 29: "2:30", 30: "2:45", 31: "3:00", 32: "3:15"}
									while i <= 32
										tr
											th.schedModTimeHeader(class={"is-hidden": (i % 2) === 0})= modTimeConversion[i]
											td.schedMod.is-unselectable.aCol(class=["mod" + i] class={"is-hidden": (i % 2) === 0})
											td.schedMod.is-unselectable.bCol(class=["mod" + i] class={"is-hidden": (i % 2) === 0})
											td.schedMod.is-unselectable.cCol(class=["mod" + i] class={"is-hidden": (i % 2) === 0})
											td.schedMod.is-unselectable.dCol(class=["mod" + i] class={"is-hidden": (i % 2) === 0})
											td.schedMod.is-unselectable.eCol(class=["mod" + i] class={"is-hidden": (i % 2) === 0})
											td.schedMod.is-unselectable.fCol(class=["mod" + i] class={"is-hidden": (i % 2) === 0})
											- i++
		//- Footer
		include includes/footer.pug
